*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px;
    margin:0px;
    
}

main{
    position: relative;
    height:100vh;
    width:100vw;
    background-color: rgb(250, 236, 216);
}
section#box{
    position: absolute;
    top: 50%;
    left:50%;
    background-color: white;
    width:300px;
    height:610px;
    overflow: hidden;
    border-radius: 16px;
    transform: translate(-50%, -50%);
}
section#box > div#image{
    display:block;
    background: url(../cartao-produto/images/image-product-mobile.jpg) no-repeat;
    background-size:cover;
    height:200px;
    
    
}
div#text >h1{
    padding:15px;
    font-size:15px;
    color: gray;
    

}

div#text >h2{
    padding:15px;
    font-size: 30px;
    color:black;
}

div#text >p {
    padding:15px;
}

div#text >p#price1{
    font-weight:bolder;
    font-size: 25px;
    color:rgb(10, 114, 10);
    margin:0px 80px 0px 0px;
}

div#text >p#price2{ 
    text-decoration: line-through;
    text-align: right;
    margin:0px 50px 0px 0px;
    transform: translate(-15%,-113% );
    font-size: 15px;
   
}

button{
    
    font-size:1em;
    width:90%;
    height:40px;
    border:none;
    border-radius:10px;
    color:white;
    background-color: green;
    margin:0px 100px 100px 10px;
}