*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

section#box{
    position: absolute;
    top: 50%;
    left:50%;
    background-color: white;
    width:265px;
    height:520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    transform: translate(-30%, -50%);
}
section#box > div#image{
    display:block;
    background: url(images/image-product-desktop.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 20px;
    
    
}
div#text >h1{
    font-size:15px;
    color: gray;

}

div#text >h2{
    font-size: 30px;
    color:black;
}
